<div class="page-header">
  <h1> Welcome {{main.username}}...Your Profile Goes Here</h1>
  <h2 class="pull-right">{{main.email}}</h2>
</div>
<br />
<br />
<br />
<div class="panel panel-info">
   <div class="panel-heading" style="text-align: center" >
     <strong>User Profile</strong>
   </div>
   <table class="table">
     <tr>
       <td> Username </td>
       <td>
         Email
       </td>
       <td>
          Password
       </td>
     </tr>
     <tr>
       <td>
         {{main.username}}
       </td>
       <td>
         {{main.email}}
       </td>
       <td>
         **********
       </td>
     </tr>
   </table>
</div>
